*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

body {
	background-color: rgb(2, 23, 36);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 20px;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& h1 {
		font-size: 2.5rem;
		margin-bottom: 20px;
	}

	& p {
		font-size: 1.2rem;
		margin-bottom: 20px;
		color: rgb(204, 204, 204);
	}
}
